/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .section.hero-container {
    padding: 0;
}
  
main .hero {
    padding: 0;
}

main .hero div {
    display: flex;
}

main .hero div div {
    flex: 1;
}