/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .section.hero-container {
    padding: 0;
}
  
main .hero {
    padding: 0;
}

main .hero div {
    display: flex;
}

main .hero div div {
    flex: 1;
    align-items: center;
}

main .hero h1 {
    color: white;
    margin: auto;
}

main .hero div div:last-of-type {
    background-image: url("/styles/textures/blue-2.jpeg");
}
