main .news-wrapper {
  text-align: center;
  background-image: radial-gradient(farthest-corner at 100% 0,#5972a7 0,#002677 65%);
  margin: unset;
}

main .block.news h2 {
  font-family: var(--heading1-font-family);
  color: #f7e082;
}


main .block.news {
  display: flex;
  flex-wrap: wrap;
}

main .block.news > div {
  flex: 50%;
}

/* date */
main .block.news > div > div > p:first-of-type {
  color: var(--heading-color);
  font-size: 18px;
  margin-bottom: 0;
}

/* text */
main .block.news > div > div > p:nth-child(2) {
  margin-top: 0;
  color: #002677;
  margin-bottom: 1rem;
}

main .block.news > div > div a {
    border-bottom: 2px dashed #e259ab;
    display: inline;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .7px;
}

main .block.news > div > div a:hover {
  text-decoration: none;
}